@keyframes fade {
    0%, 100% {
      border-color: #FFD200;
      box-shadow: 0px 0px 10px #FFD200 inset;
    }
    33.33% {
      border-color: #8DC63F;
      box-shadow: 0px 0px 10px #8DC63F inset;
    }
    66.67% {
      border-color: #648362;
      box-shadow: 0px 0px 10px #648362 inset;
    }
  }

body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  }


/* For a border on hover over dashboard thumbnails. */
.dashboard-thumbnail:hover {
    border-width: 3px;
    border-style: solid;
    
    animation: fade 10s linear infinite;
  }
